# server configuration
server:
  port: 31937

# endpoint configuration
endpoints:
  shutdown:
    enabled: true

# database configuration
spring:
  jpa:
    show-sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: none

  datasource:
    url: jdbc:mysql:thin://localhost:1102/messagegateway
    username: root
    password: B1melabumez1
    driver-class-name: org.drizzle.jdbc.DrizzleDriver

# Status Callback configuration for Twilio. Port will be taken from server configuration
hostconfig:
  host-address: 52.90.12.107
  protocol: http
